<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Pastelería de Lina</title>
    <link rel="stylesheet" href="../css/estilos.css" />
  </head>

  <body>
    <header>
      <img class="logo" src="../images/Logo.jpg" alt="Logo La Pastelería de Lina" />
      <div class="titulo">
        <h1 style="margin-bottom: 1%;">BIENVENIDO A LA PASTELERÍA DE LINA</h1>
        <br />
        <p style="margin-top: -2%;">La vida hay que saber hornearla</p>
      </div>
    </header>

    <div class="contenedor">
      <div name="menu" class="elemento">
        <nav class="menu-principal">
          <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="productos.html">PRODUCTOS</a></li>
            <li><a href="presupuesto.html">PRESUPUESTO</a></li>
            <li><a class="menu-select" href="contacto.html">CONTACTO</a></li>
          </ul>
        </nav>
      </div>

      <div id="contacto-image" class="contacto-image">
        <h2>Ubicación</h2>
        <img
          src="../images/ubicacion.jpg"
          alt="Google Maps"
          width="800"
          height="350"
        />
        <p>Caminito del Ingeniero Acosta 2, Málaga</p>
      </div>
    </div>

    <footer>
      <h4>Síguenos</h4>
      <a href="http://facebook.com/lapasteleriadelina" target="_blank">Facebook</a>
      <a href="https://instagram.com/lapasteleriadelina" target="_blank">Instagram</a>
      <!-- Otros enlaces a redes sociales -->
      <p>Dirección - Caminito del Ing. Acosta 2, Málaga Capital</p>
      <a href="https://avisolegal.com/tusitio" target="_blank">Aviso legal</a>
    </footer>
  </body>
</html>

