<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Pastelería de Lina</title>
    <link rel="stylesheet" href="../css/estilos.css" />
  </head>

  <body>
    <header>
      <img class="logo" src="../images/Logo.jpg" alt="Logo La Pastelería de Lina" />
      <div class="titulo">
        <h1 style="margin-bottom: 1%;">BIENVENIDO A LA PASTELERÍA DE LINA</h1>
        <br />
        <p style="margin-top: -2%;">La vida hay que saber hornearla</p>
      </div>
    </header>

    <div class="contenedor">
      <div name="menu" class="elemento">
        <nav class="menu-principal">
          <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a class="menu-select" href="productos.html">PRODUCTOS</a></li>
            <li><a href="presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
          </ul>
        </nav>
      </div>

      <div id="tartas" class="tartas">
        <div class="TartaTitulo">
          <p>PASTELERÍA ONLINE</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartadevino.jpg" alt="Tarta de vino" />
          <p>Tarta de vino</p>
          <p>80€</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartafutbolera.jpg" alt="Tarta Futbolera" />
          <p>Tarta Futbolera</p>
          <p>35€</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartabebe.jpg" alt="Tarta con figura de bebé" />
          <p>Tarta con figura de bebé</p>
          <p>60€</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartacaramelo.jpg" alt="Tarta con cristales de caramelo" />
          <p>Tarta con cristales de caramelo</p>
          <p>45€</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartacomunion.jpg" alt="Tarta Primera Comunión" />
          <p>Tarta Primera Comunión</p>
          <p>60€</p>
        </div>

        <div name="tarta_online" class="TartaImagen">
          <img class="caja" src="../images/Tartacuna.jpg" alt="Tarta en forma de cuna" />
          <p>Tarta en forma de cuna</p>
          <p>60€</p>
        </div>
      </div>
    </div>

    <footer>
      <a href="https://avisolegal.com/tusitio" target="_blank">Aviso legal</a>
      <p>Dirección: Caminito del Ing. Acosta 2, Málaga Capital</p>
      <h4>Síguenos</h4>
      <a href="https://facebook.com/lapasteleriadelina" target="_blank">Facebook</a>
      <a href="https://instagram.com/lapasteleriadelina" target="_blank">Instagram</a>
      <!-- Otros enlaces a redes sociales -->
    </footer>
  </body>
</html>

